
/*Estilo geral da página*/
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body{
    background-color: #f6f8fc;
    
}

/*Contéudo da página*/
.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;  
    background-color: #fff;
}

/*Titulo do contéudo*/
.content h1{
    margin: 0;
}


/* ======================== RESPONSIVIDADE ======================== */


/*Contéudo da página - responsividade*/
@media (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    
}